/* Regola di Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Regole di Root */

:root {
    --main-color: #141922;
    --side-color: #000000; 
    --footer-color: #282828;
    --header-color: rgba(8, 11, 18, 0.7);
    --grey-light: #A3A3A3;
}

/* Layout */

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
}

.main-container {
    height: calc(100vh - 80px);
}

footer {
    height: 80px;
    background-color: var(--footer-color);
    z-index: 10;
    position: relative;
}

.sidebar {
    width: 225px;
    height: 100%;
    background-color: var(--side-color);
    flex-shrink: 0;
    min-height: 400px;
    overflow: hidden;
}

.content {
    width: calc(100% - 225px);
    height: 100%;
    background-color: var(--main-color);
    overflow: auto;
    position: relative;
}

.fake-header {
    background-color: var(--header-color);
    height: 100px;
    width: calc(100% - 225px);
    position: fixed;
    top: 0;
    left: 225px;
    z-index: 10;
}

.music {
    margin-top: 100px;
}


/* Regole Generali */

html {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.white-text {
    color: #fff;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.none {
    display: none;
}


/******** Style Page ********/

/* Main */

/* Sidebar */

.sidebar-top {
    height: calc(100% - 100px);
    flex-direction: column;
}

.sidebar-bottom {
    height: 100px;
    padding: 0 23px;
}

.logo {
    flex-shrink: 0;
    padding: 10px 20px;
}

.logo img {
    width: 70%;
}

.sidebar-menu {
    margin-bottom: 20px;
}

.sidebar-menu .img-grey {
    opacity: 0.5;
}

.sidebar-menu ul li {
    padding: 4px 20px;
    border-left: 3px solid transparent;
}

.sidebar-menu ul li:first-child {
    /* border-color: rgb(173, 241, 84); */
}

.sidebar-list a {
    color: var(--grey-light);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.sidebar-list .active {
    color: #fff;
}

.sidebar-list span {
    padding-left: 5px;
}

.sidebar-list img {
    width: 30px;
}

.side-playlist {
    flex-direction: column;
    overflow: hidden;
    padding-left: 23px;
}

.side-playlist ul {
    overflow-y: auto;
}

.side-playlist ul li {
    padding: 8px 0;
    font-weight: 600;
    color: var(--grey-light);
    font-size: 12px;
    cursor: pointer;
}

.side-playlist h2 {
    font-size: 12px;
    padding-bottom: 10px;
}

.plus-btn {
    color: var(--grey-light);
    text-decoration: none;
    align-items: center;
    padding-bottom: 10px;
}

.plus-btn span {
    padding-left: 10px;
    font-size: 14px;
}

.plus-btn i{
   font-size: 30px;
   background-color: var(--grey-light);
   width: 30px;
   height: 30px;
   text-align: center;
   color: black;
}

.download {
    border-bottom: 2px solid var(--grey-light);
    padding: 15px 0;
    font-size: 12px;
    color: var(--grey-light);
    font-weight: 700;
}

.download i {
    padding-right: 5px;
}

.user {
    align-items: center;
    padding-top: 10px;
}

.user img {
    width: 25px;
    height: 25px;
    background-color: var(--grey-light);
    border-radius: 50%;
}

.user span {
    color: #fff;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
}
 
/* Fake Header */

.btn-container {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.upgrade {
    font-size: 12px;
    font-weight: 600;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #fff;
    margin-right: 40px;
}

/* Music */

.music .music-list{
    margin: 0 auto 30px;
}

.music .music-list ul{
    list-style: none;
    justify-content: center;
}

.music .music-list ul a{
    text-decoration: none;
    color: var(--grey-light);
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 700;
    font-size: 0.8rem;
}

.recently,
.created  {
    margin-bottom: 50px;
}

.recently h1,
.created h1,
.artists h1 {
    font-size: 1.3rem;
}

.recently h1 {
    margin: 25px 10px;
}

.created h1,
.artists h1 {
    margin: 10px 10px;
}

.playlist {
    width: 100%;
}

.music-item {
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

.music-item img {
    width: 100%;
    display: block;
}

.music-item .img-wrapper {
    position: relative;
}

.music-item .group {
    text-align: center;
    font-size: 1rem;
    margin-top: 12px;
}

.music-title {
    color: var(--grey-light);
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 8px;
}

.music-item .music-title {
    text-align: center;
}

.recently .music-title,
.created .music-title,
.artists .music-title {
   margin-left: 10px;
   margin-bottom: 25px;
}

.artists .music-item img {
    border-radius: 50%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

/* Footer */

.footer-container {
    justify-content: space-between;
    height: 100%;
}

.footer-item{
    height: 100%;
    width: 100%;
    align-items: center;
}

.footer-item img{
    height: 60%;
    margin: 12px;
}

.footer-item .song-play {
    margin-right: 25px;
}

.footer-item .title {
    color: var(--grey-light);
    font-size: 12px;
    font-weight: 600
}

.footer-item .band {
    font-size: 14px;
}

.footer-item i {
    color: var(--grey-light);
    padding: 4px;
}

.footer-item .player {
    justify-content: center;
    align-items: center;
}

.footer-item .player i {
    padding: 0 15px;
    color: #fff;
}

.footer-item .player .fa-circle-play {
    font-size: 1.8rem;
}

.footer-item  .progress-bar {
    height: 4px;
    border-radius: 50px;
    width: 70%;
    background-color: #5A5A5A;
    margin: 0 10px;
}

.footer-item .in-play-bar {
    height: 4px;
    border-radius: 50px;
    width: 20%;
    background-color: #C1C1C1;
    align-items: center;
    position: relative;
}

.footer-item .in-play-bar i.fa-circle {
    padding: 0;
    position: absolute;
    right: -5px;
    color: #fff;
    font-size: 0.7rem;
    display: none;
}

.footer-item .progress-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.footer-item .progress-wrapper span {
    font-size: 12px;
    font-weight: 700;
    margin: 0 5px;
}

.footer-item.volume-wrapper {
    justify-content: end;
}

.footer-item.volume-wrapper i{
    color: #fff;
    font-size: small;
}

.footer-item .volume {
    width: 40%;
}

/* Hover and Active Effects*/ 

/* Sidebar Hover */

.sidebar-list li:hover span,
.side-playlist ul li:hover,
.plus-btn:hover {
    color: #fff;
}

.sidebar-list li:active span,
.side-playlist ul li:active,
.plus-btn:active {
    color: rgb(128, 248, 128);;
}

.sidebar-list li:hover .img-grey {
    opacity: 1;
}

.plus-btn:hover i {
    background-color: #fff;
}

.download:hover {
    color: #fff;
}

.sidebar-menu ul li:hover {
    border-left: 3px solid rgb(128, 248, 128);
}

/* Fake Header Hover */

.fake-header .btn-container a:hover {
    transform: scale(1.1);
    color: rgb(128, 248, 128);
}

/* Music Hover */

.music-list ul li a:hover {
    color: #fff;
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(128, 248, 128);
}

.music-item .img-wrapper:hover .overlay {
    display: block;
    cursor: pointer;
}

.music-item .img-wrapper:active .overlay i{
    color: rgb(128, 248, 128);
}

.artists .music-item .img-wrapper:hover .overlay {
    display: inline-block;
    border-radius: 50%;
}

/* Footer Hover */

footer .song-play .title:hover {
    color: #fff;
    text-decoration: underline;
}

footer .icon i:hover {
    color: #fff;
}

footer .footer-item .in-play-bar:hover {
    background-color: rgb(128, 248, 128);
}

footer .footer-item .in-play-bar:hover i {
    display: block;
}

footer .player-wrapper .player .fa-circle-play:hover {
    transform: scale(1.1);
}

footer .player-wrapper .player i:hover {
    color: rgb(128, 248, 128);
}

/* Media Query */

/* Medium mg */

@media screen and (max-width: 992px) {

    .playlist {
        flex-wrap: wrap;
    }
    
    .playlist .music-item {
        width: calc((100% / 4) - 20px);
    }

    .music .music-list {
        margin: 0;
    }

    .music-list ul {
        flex-wrap: wrap;
    }

    .music-list ul li{
       margin-bottom: 30px;
    }

    .recently h1 {
        margin-top: 0;
    }

}

/* Small s */

@media screen and (max-width: 768px) {

    .playlist .music-item {
        width: calc((100% / 2) - 20px);
    }

    .footer-item .icon {
        display: block;
    }

    .footer-item .icon i {
        padding: 2px 4px;
    }

    .footer-item .song-play {
        margin-right: 10px;
    }

}

/* Extra-Small xs */

@media screen and (max-width: 576px) {
   
    .sidebar {
        width: 50px;
    }

    .sidebar span {
        display: none;
    }

    .sidebar-menu ul li {
        border: none;
        padding: 5px 0px;
        display: flex;
        justify-content: center;
    }

    .side-playlist {
        display: none;
    }

    .sidebar-bottom {
        padding: 0px;
    }

    .sidebar-list img {
        width: 20px;
        height: 20px;
    }

    .user {
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .logo-small {
        display: block;
        width: 50%;
        padding-bottom: 15px;
    }

    .download {
        border: none;
        display: flex;
        justify-content: center;
    }

    .download i {
        padding-right: 0;
        font-size: 12px;
    }

    .content {
        width: calc(100vw - 50px);
    }

    .fake-header {
        width: calc(100vw - 50px);
        left: 50px;
    }

    .footer-item .player i {
        padding: 0 8px;
    }

}